<head>
  <%= stylesheet_link_tag "top" %>
</head>
<div class="top-wrapper">
  <div class="blank"></div>
  <h2><%= link_to("ルール説明", "/rules") %>　<%= link_to("はじめる", "/game_start") %>　<%= link_to("自己ベスト", "/mybest") %>
</div>