.top-wrapper {
  background-size: cover;
  background-position: center;
}

.blank {
  height: 820px;
  background-image: url(title.png);
  background-size: cover;
  background-color: lightblue;
}

h2 {
  text-align: center;
}